{% extends "base.html" %}
{% load static %}
{% load ratings %}


{% block content %}
<div class="container container-main">
    <div class="row h-100">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">Check in, check out placeholder</p>
                    <a href="#" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8 ml-2">
                    <span class="h6">
                        {% if hotel.rating %}
                        {% for ind in hotel.rating|rating_dec_main %}
                        <span class="ms-0 mx-0"><i class="fas fa-star mx-0 small text-danger"></i></span>
                        {% endfor %}
                        {% if hotel.rating|rating_dec_fraction %}
                        <span class="ms-0 mx-0"><i class="fas fa-star-half-stroke text-danger mx-0 small"></i></span>
                        {% endif %}
                        {% else %}
                        <small class="text-muted">No Rating</small>
                        {% endif %}
                    </span>
                    <h4 class="fw-bolder h5">{{hotel.name}}</h4>
                    <p>{{hotel.address}}</p>
                </div>
                <div class="col-sm-4">
                    <h4 class="h6"> {{hotel.rating|rating_string}}</h4>
                    <button class="btn btn-sm btn-primary mb-2">Reserve</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 mb-2">
                    <img class="img-cover img-fluid w-100" src={{hotel.image_url}} alt={{hotel.name}}>
                </div>

                <!-- {{hotel.hotel_general_facility}}
            {% for room in hotel.hotel_rooms %}
            <div>{{room.room_type}}</div>
            <div>{{room.price}}</div>
            <div>{{room.on_sale}}</div>
            {{room.sale_price}}
            {{room.quantity}}
            {% endfor %} -->
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="row my-4">
        <div class="col-sm-8">
            {{hotel.full_description|safe}}
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bolder">Property Highlights</span>
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    {% for fac in hotel.hotel_general_facility %}
                    <p class="card-text">{{fac.facility|facility_name}}</p>
                    {% endfor %}
                    <a href="#" class="btn btn-primary">Reserve</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Room Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Your choices</th>
                        <!-- <th scope="col"></th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for room in hotel.hotel_rooms %}
                    <tr>
                        <td>
                            <h5 class="h6 fw-bold text-primary">{{room.room_type|room_name}}</h5>
                            {% for facility in room.room_type|get_room_facilities:room_facilities %}
                            <span class="mx-1 small"> <i class="fas fa-check small"></i>
                                {{facility|facility_name}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% if room.on_sale %}
                                <span class="lead strikeout mb-0 text-left ">€{{ room.price|floatformat:2}}</span>
                                <span class="lead highlight ms-2"> €{{room.sale_price|floatformat:2}}</span>
                            {% else %}
                                <span class="lead mb-0 text-left highlight">€{{ room.price }}</span>
                            {% endif %}
                            <p>
                                {% if room.quantity < 10 %} 
                                    <span class="text-muted fst-italic">Only {{room.quantity}} left at this price</span>
                                {% endif %} 
                            </p>
                        </td>
                        <td>
                            <p class="my-0 text-success small">
                                <i class="fas fa-check small"></i>
                                Free cancellation until {{hotel.free_cancel_limit|date_from_now | date:'d M, Y H:i a'}}
                            </p>
                            <p class="my-0 text-success small">
                                <i class="fas fa-check small"></i>
                                {% if room.breakfast_included %} Breakfast included {% else %} Breakfast excluded
                                {% endif %}
                            </p>
                            <p class="my-0 text-success small">
                                <i class="fas fa-check small"></i>
                                {% if hotel.prepayment_needed %} Prepayment needed to confirm booking {% else %} No
                                Prepayment needed - Pay at property {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
            <p class="mt-1">
                <!-- <hr> -->
            </p>
            <button class="btn btn-sm btn-success w-100 mt-4">I'll Reserve</button>
            <ul>
                <li>Confirmation is immediate</li>
                <li>No booking or Credit card fees</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}