{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid container-main">
        <div class="row h-100">
            <div class="col-6 col-md-4 my-auto">
                <h3 class="main-logo text-black">
   
                </h3>
                <div class="my-5">
                    <h5>
                        <a href="#" class="go-shop-btn btn btn-lg py-2">Shop Now</a>
                    </h5>
                </div>
            </div>
            <div class="col-6 my-auto">
                {% for ms in msg %} 
                <div>
                    {{ms.name}}
                    {{ms.address}}
                    {{ms.hotel_rooms}}
                    <br>
                    {{ms}}
                </div>
                {% endfor %} 
                </div>
        </div>
    </div>
{% endblock %}