<footer class="footer mt-auto py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-2 col-lg-3">
                <div>
                    <h5>Information</h5>
                </div>
                <div>
                    <a href="#">About Us</a>
                </div>
                <div>
                    <a href="#">Frequently Asked Questions</a>
                </div>
                <div>
                    <a href="#">Contact Us</a>
                </div>
                <div>
                    <a href="#">Reviews</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <h5>Legal</h5>
                <div>
                    <a href="#">Terms & Conditions</a>
                </div>
                <div>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-2">
                <h5>Social Media</h5>
                <div>
                    <a href="https://www.facebook.com/Graces-Art-Print-110351491783521" target="_blank" rel="noopener"
                        aria-label="Check us out on Facebook" title="Check us out on Facebook">
                        <i class="fab fa-facebook-square me-1"></i>
                    </a>
                    <a href="https://github.com/Polyanyanwu/graces-art-pp5" target="_blank" rel="noopener"
                        aria-label="Check our Github" title="See developer's Github Page">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" title="Coming soon"><i class="fab fa-instagram-square icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>